/*styling body & title*/
body{
    background-color: antiquewhite;
    font-family: Courier, sans-serif;
    margin:auto;
}

h1{
    font-family: sans-serif;
    font-size: 80px;
}

h2 {
    line-height: 35px;
    float: left;
}

h3{
    color:coral;
}

header{
    margin: 30px;
    width:700px;
    float:left;
}

div{
    margin:30px;
    float:left;
}
/*styling nav bar & links*/
ul{
    padding: 20px;
}

ul li{
    display:inline;
    float: right;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

/*styling emphasised word*/
span{
    font-family: fantasy;
    font-style: oblique;
}

/*styling img*/
.profile{
    position: absolute;
    float: left;
    width:200px;
    padding: 215px 850px;
}

li img {
    width:500px;
    display: block;
    margin:0 auto;
}

