
/*---------------------------------------------------------Home page--------------------------------------------------------------------*/
body {
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
    font-family: "Lato", sans-serif;
}




/************Navigation bar*******************/

/*styling logo*/
.namelogo {
    padding: 30px 0;
    clear: both;
}

.namelogo h1 {
    font-size: 1.8em;
    color: #666;
    font-weight: 600;
    text-align: center;
}

/*Stying nav buttons*/

.button {
    position: relative;
    cursor: pointer;
    border: 0 solid;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 5px;
    transition:background-color 300ms ease-out;
}

.button-group {
    float: none;
    padding-top: 23px;
}

.homePage{
    float: right;
    padding-right: 30px;
}

.button-group li {
    display: inline-block;
    padding-top: 3%;
    margin: 0 .5rem;
}

.button-group a {
    color: #666;
    width: 7rem;
    padding: 20px 30px;
    background-color: #B5B5B5;
    text-decoration: none;
    text-transform: uppercase;
}

.button-group a:hover {
    color: #fff;
    padding: 20px 30px;
    background-color: #2c3e50;
}


/************Styling parallax*****************/
.parallax {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

/*Backgroung img - parallax effect*/
.bgImg-1, .bgImg-2, .bgImg-3, .bgImg-4, .bgImg-5, .bgImg-6, .bgImg-7, .bgImg-8,
.bgImg-9, .bgImg-10, .bgImg-11, .bgImg-12 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgImg-1 {
    background-image: url("../img/img1.jpeg");
    width: 100%;
    min-height: 703px;
}

.bgImg-2 {
    background-image: url("../img/Corbis-RF-stock-reef-fish-scuba-diver-ocean.jpg");
    min-height: 600px;
}

.bgImg-3 {
    background-image: url("../img/splash-11.jpg");
    min-height: 600px;
}

.bgImg-4 {
    background-image: url("../img/DSCF6557.JPG");
    min-height: 600px;
}

.bgImg-5 {
    background-image: url("../img/Islanda_2015_1778_resize.JPG");
    min-height: 600px;
}

.bgImg-6 {
    background-image: url("../img/simon-pierce-1270735.jpg");
    min-height: 600px;
}

.bgImg-7 {
    background-image: url("../img/turtle.jpg");
    min-height: 600px;
}

.bgImg-8 {
    background-image: url("../img/marine_debris_tedxgp3.jpg");
    min-height: 600px;
}

.bgImg-9 {
    background-image: url("../img/maxresdefault.jpg");
    min-height: 600px;
}

.bgImg-10 {
    background-image: url("../img/b81a9896443bff81333d02191d6be1b2.jpg");
    min-height: 600px;
}

.bgImg-11 {
    background-image: url("../img/life-coaching-1.jpg");
    min-height: 600px;
}

.bgImg-12 {
    background-image: url("../img/281fbd50af0530fad18e69fdc43df62f.jpeg");
    min-height: 600px;
}


/*Styling title and subtitle*/

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    color: #fff;
}

.caption h1, .caption .subtitle {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;
    font-weight: 700;
    color: #fff;
    padding: 18px;
    letter-spacing: 10px;
    z-index: 1;
    display: block;

}

.caption h1 {
    font-size: 40px;
}

.caption .subtitle{
    letter-spacing: 0;
    font-size: 30px;/*caption bgImg2*/
}

.inner-text {
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    margin:0;
    padding: 20px;
    text-align: center;
}

.inner-text p {
    height: 109px;
    font-weight: 400;
    text-align: center;
    font-size: 22px;
}

#1 {
    margin: 40px;
}

/*Styling footer*/
.footer{
    display: block;
    padding: 4rem 0;
    margin-top: 0;
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7;
}

.text-muted {
    color: #666!important;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-social ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

.footer-social ul li a {
    padding: 0 0 5px 0;
}
.footer-social a {
    color: #78828D
}

/*Social elements*/
.footer-social {
    padding-left: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}

/*When hover buttons will rotate*/
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
    color: #EDEFF1;
}

.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}

.social li a i {
    font-size: 16px;
    color: #EDEFF1 !important;
}

/*Styling copywrite & payment section*/
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;
}


/*--------------------------------------------------------About page --------------------------------------------------------------------*/

/***********Styling header**************/

/*background img*/
.header-about {
    background: url('../img/solo-diving.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px  rgba(0, 0, 0, 0);
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

/*making the contact links*/
.contact a {
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 1px 1px 1px #000;
    display: inline-block;
    opacity: 0;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

/*when hover contact links appear*/
.donate:hover ~ .contact a {
    opacity: 1;
}

.contact a:hover {
    text-decoration: none;
}


.contact ul {
    list-style: none;
    margin-top: 25px;
    text-align: center;
}

.contact li {
    display: inline-block;
    padding-right: 18px;
    padding-left: 32px;
}


/*styling button*/
.donate {
    width: 7rem;
    padding: 20px 30px;
    color: #fff;
    background-color: #2c3e50;
    text-decoration: none;
    border-radius: 35px;
    text-transform: uppercase;
}

.donate:hover {
    color: #fff;
    padding: 20px 30px;
    background-color: #B5B5B5;
    text-decoration: none;
}

.intro-text {
    padding-top: 40%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

/********Styling content********/
.plastic-pollution {
    width: 100%;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h4 {
   color: #ee5746;
}

.img-center {
    width: 45%;
    display: block;
    margin: 0 auto;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: all ease-in-out 600ms;
}

.img-center:hover {
    filter: grayscale(1);
}
/*Img gallery .main */
.container {
    padding-left: 40px;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 31%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/*zoom img gallery when hover*/
div.gallery:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

div.gallery img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

div.gallery img.img1 {
    padding-bottom: 45px;
}

div.gallery img.img2 {
    padding-bottom: 39px;
}

div.desc {
    padding: 15px;
    text-align: center;
    border: 1px solid #B5B5B5;
    color: #fff;
    background-color: #B5B5B5;
}

/*Section nav*/
/*making the columns*/
#section-nav {
    color: #4d4d4d;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

@media (min-width: 768px) {
    .section-two {
        flex-direction: row;
    }
}

.section-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#section-nav div {
    padding-left: 0;
    padding-right: 40px;
    margin-bottom: 40px;
    text-align: left;
}

#section-nav h4 {
    color: #45576b;
    font-weight: bold;
    transition: all ease-in-out 600ms;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ee5746;
    display: block;
    width: 100%;
}

#section-nav p {
    text-align: left;
    font-weight: normal;
}

#section-nav .section-image {
    max-width: 150px;
}

/*zoom photo when hover*/
#section-nav img {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#section-nav img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}













/*--------------------------------------------------------Donation page------------------------------------------------------------------*/
/*Header section*/

.header-donation {
    background: url('../img/b81a9896443bff81333d02191d6be1b2.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px  rgba(0, 0, 0, 0);
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

/*styling form*/
.wraperForm {
    padding: 20px;
    background: #9acfea;
    color: #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.extratext-content {
    margin-bottom: 20px;
}

/*styling donation-details label*/
input[type="radio"], input[type="checkbox"]{
    margin-left: 20px;
}

#moneyValue1{
    margin-left: 0;
}

/*styling personal-details*/
.personal-details label,
.personal-details input,
.personal-details button {
    border: 0;
    margin-bottom: 3px;
    display: block;
    width: 100%;
}

.personal-details input {
    height: 25px;
    line-height: 25px;
    background: #fff;
    color: #000;
    padding: 0 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.personal-details button {
    width: 20%;
    height: 30px;
    line-height: 30px;
    background: #1b6d85;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 13px;
    margin-left: 300px;
    border-radius: 4px;
    cursor: pointer;
}

.personal-details .error {
    display: none;
    color: #ff0000;
}

.asterisk{
    color: #ff0000;
}

/*****************************************************************************************************************************************/
/*Media queries
Iphone Plus 6, Iphone 5 portrait*/
@media only screen
and (max-device-width : 776px)
and (min-device-width : 320px) {

    /*Turn off parallax scroll*/
    .parallax {
        background-attachment: scroll;
    }

    .inner-text {
        height: 225px;
    }

    .inner-text p{
        width: 100%;
        height: 109px;
        display: block;
        text-align: center;
    }
    /*Making the caption size smaller*/
    .caption .subtitle {
        font-size: 21px;
    }

    /*Navigation bar centered*/
    .button-group, .homePage {
        width: 390px;
        height: 89px;
        padding-left: 81px;
        padding-right: 0;
    }

    .button-group a {
        padding: 10px 20px;
    }

    .fa-2x {
        font-size: 1.7em;
    }

    /*About page - gallery img*/
    div.gallery img.img3 {
        padding-bottom: 18px;
    }

    /*Footer payments won't display*/
    .payments {
        display: none;
    }
}