$text-color: coral;
$headline-text-color: red;

@import 'partial';

section {
    max-width: 80%;
    margin: 0 auto;

    h1 {
        color: $headline-text-color;
    }

    p {
        color: $text-color;

        span {
            font-weight: bold;
        }
    }
}



