body {
  margin: 0;
  padding: 0; }

@keyframes slideRightDown {
  0% {
    margin-left: 0;
    margin-top: 0; }
  25% {
    margin-left: 318px;
    margin-top: 125px; }
  50% {
    margin-left: 637px;
    margin-top: 250px; }
  100% {
    margin-left: 1175px;
    margin-top: 250px; } }

.container {
  width: 80%;
  margin: 0 auto; }

.box {
  width: 100%;
  height: 100%;
  background-color: red;
  /*The name of your defined animation (after @keyframes)*/
  animation-name: slideRightDown;
  /*How long the animation will run*/
  animation-duration: 5s;
  /*Which easing/timing function to use */
  animation-timing-function: linear;
  /*How long to wait before starting the animation*/
  animation-delay: 2s;
  /*how many times to run it (can be infinite)*/
  animation-iteration-count: 2;
  /*should animation play in reverse on alternate runs */
  animation-direction: alternate;
  /*should the animation start of running or paused */
  animation-play-state: running; }
